extends layout

block head
  script(type="text/javascript")
    angular.module('trampfire', []).controller('MessageController', function ($scope) {
      var chat = io.connect('//:#{ port }/chat');

      $scope.messages = {'Cheese': [], 'Petrol': []};
      $scope.channel = 'Cheese';
      $scope.user = {};

      chat.on("downstream:connected", function(user) {
        $scope.$apply(function() {
          $scope.user = user;
        });
      });

      function push(message) {
        console.log(message);
        if (!(message.channel in $scope.messages))
        {
          $scope.messages[message.channel] = [];
        }
        $scope.messages[message.channel].push(message.data);
      }

      chat.on("downstream:message", function(message) {
        $scope.$apply(function()
        {
          push(message);
        });
      });

      $scope.isChannel = function(channel) {
        return $scope.channel === channel;
      }

      $scope.setChannel = function(channel) {
        if ($scope.channel != channel) {
          chat.emit('upstream:message', {'channel': $scope.channel, 'data': $scope.user.id + ' left the room'});
          $scope.channel = channel;
          chat.emit('upstream:message', {'channel': $scope.channel, 'data': $scope.user.id + ' joined the room'});
        }
      }

      $scope.send = function() {
        message = $scope.message.trim();
        if (message.length > 0) {
          chat.emit("upstream:message", {'channel': $scope.channel, 'data': message});
          push({'channel': $scope.channel, 'data': message});
        }
        $scope.message = '';
      };
    });

block content
  div(ng-controller="MessageController")
    nav
      input(type='text', ng-model='channel')

      ul.channels
        li(ng-repeat="(channel, _) in messages", ng-class="{ active:isChannel(channel) }")
          a(ng-click="setChannel(channel)") {{ channel }}
    section
      ul.messages
        li(ng-repeat="message in messages[channel]")
          span {{ message }}
    
      form(ng-submit="send()")
        textarea#message(type="text", ng-model="message", size=30)
        input(type="submit", value="send")

        script(type='text/javascript')
          $('script').
            last().
            parent('form').
            children('textarea').
            keypress(function(event)
            {
              if (event.which == 13)
              {
                $(event.target).siblings('input[type="submit"]').click();
                event.preventDefault();
              }
            });