extends layout

block head
  script(type="text/javascript")
    angular.module('trampfire', []).controller('MessageController', function ($scope) {
      var chat = io.connect('//:#{ port }/chat');

      $scope.messages = {'Cheese': [], 'Petrol': []};
      $scope.channel = 'Cheese';
      $scope.user = {};

      chat.on("downstream:connected", function(user) {
        $scope.$apply(function() {
          $scope.user = user;
        });
      });

      function push(message) {
        if (!(message.channel in $scope.messages))
        {
          $scope.messages[message.channel] = [];
        }
        $scope.messages[message.channel].push(message);
      }

      chat.on("downstream:message", function(message) {
        $scope.$apply(function()
        {
          push(message);
        });
      });

      $scope.isSelf = function(message) {
        return message.id == $scope.user.id;
      }

      $scope.isChannel = function(channel) {
        return $scope.channel === channel;
      }

      $scope.createChannel = function() {
        if (!($scope.channel in $scope.messages)) {
          $scope.messages[$scope.channel] = [];
        }
      }

      $scope.setChannel = function(channel) {
        if ($scope.channel != channel) {
          chat.emit('upstream:message', {'channel': $scope.channel, 'data': $scope.user.id + ' left the room'});
          $scope.channel = channel;
          chat.emit('upstream:message', {'channel': $scope.channel, 'data': $scope.user.id + ' joined the room'});
        }
      }

      $scope.send = function() {
        data = $scope.data.trim();
        if (data.length > 0) {
          chat.emit("upstream:message", {'channel': $scope.channel, 'data': data});
          push({'channel': $scope.channel, 'data': data, 'id': $scope.user.id});
        }
        $scope.data = '';
      };
    }).directive('scroll', function() {
      return {
        link: function(scope, element, attrs, ctrl) {
          $('html, body').scrollTop($(element).offset().top);
        }
      }
    });

block content
  div(ng-controller="MessageController")
    nav
      form(ng-submit="createChannel()")
        label(for='channel') Channel:
        input(type='text', ng-model='channel', name='channel')
        input(type="submit", value="create")

      ul.channels
        li(ng-repeat="(channel, _) in messages", ng-class="{ active:isChannel(channel) }")
          a(ng-click="setChannel(channel)") {{ channel }}
    section
      ul.messages
        li(ng-repeat="message in messages[channel]", ng-class="{ self:isSelf(message) }", scroll)
          span.id {{ message.id }}
          span.data {{ message.data }}

      form(ng-submit="send()")
        textarea#message(type="text", ng-model="data", size=30)
        input(type="submit", value="send")

        script(type='text/javascript')
          $('script').
            last().
            parent('form').
            children('textarea').
            keypress(function(event)
            {
              if (event.which == 13 && !event.ctrlKey)
              {
                $(event.target).siblings('input[type="submit"]').click();
                event.preventDefault();
              }
            });