body, html {
    padding: 0;
    margin: 0;
    font: 9pt 'Lucida Grande';
}
div[ng-controller="MessageController"] {
    @form-textarea-height: 50px;
    @form-submit-width: 60px;

    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        padding: 10px 10px 10px 11px;
        box-sizing: border-box;
        height: 100%;
        background: #eee;
        border-left: solid 1px #eee;
        box-shadow: inset 1px 0 0 #bbb;
        border-bottom: solid (@form-textarea-height + 20px + 1px) transparent;
        overflow-y: auto;

        ul.channels {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                margin: 10px 10px 10px 0;
                background: #fff;
                box-shadow: 1px 1px 0 darken(#eee, 5%);

                a {
                    color: #333;
                    padding: 0.5em;
                    display: inline-block;
                    width: 100%;
                }
                border-left: solid 3px #fff;
                &.active {
                    border-left: solid 3px red;
                }
            }
        }

        label[for="channel"] {
            font-size: 8pt;
            margin-right: 1ex;
        }

        input[type="submit"] {
            visibility: hidden;
        }
    }

    section {
        width: 70%;
        box-sizing: border-box;

        form {
            margin: 0;
            background: #ddd;
            padding: 10px (@form-submit-width + 20px) 10px 10px;
            box-sizing: border-box;
            width: 100%;
            position: fixed;
            bottom: 0;
            border-top: solid 1px #666;
            line-height: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);

            textarea {
                margin: 0;
                width: 100%;
                box-sizing: border-box;
                height: @form-textarea-height;
                white-space: pre-wrap;
                word-wrap: break-word;
                resize: none;
            }

            input[type="submit"] {
                position: absolute;
                top: 0;
                right: 0;
                width: @form-submit-width;
                margin: 10px;
            }
        }

        @-webkit-keyframes fade-in {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        ul.messages {
            list-style-type: none;
            padding: 10px;
            margin: 0 0 (@form-textarea-height + 20px + 1px) 0;

            li {
                line-height: 150%;
                border-bottom: solid 1px darken(#efefef, 5%);

                -webkit-animation-name: fade-in;
                -webkit-animation-duration: 0.5s;

                &.self {
                    background-color: #ffc;
                }

                @data-width: 110px;
                span {
                    padding: 0.5em 0.5em;
                    &.id {
                        background: #efefef;
                        width: @data-width;
                        margin-right: 10px;
                        float: left;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        display: block;
                    }
                    &.data {
                        white-space: pre-wrap;
                        margin-left: (@data-width + 10px);
                        display: block;
                        border-left: solid 1px #eee;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}